<h1>Index Events</h1>

<h2>Upcoming Events</h2>
<div class=" row">
  <% Event.upcoming.each do |event| %>
    <div class="col-sm-3 my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" >EVENT</h5>
     
          <% unless event.title.nil? %>
            <p class="card-title" ><%= event.title %></p>
            <p class="card-title" ><%= event.datetime %></p>

          <% else %>
            <p class="card-text"> <%= event.description %></p>
            <p class="card-title" ><%= event.datetime %></p>
          <% end %>
        </div>
        <div class="card-footer">
          <%= link_to "Show the event", event%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Past Events</h2>
<div class=" row">
  <% Event.previous.each do |event| %>
    <div class="col-sm-3 my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" >EVENT</h5>
          <% unless event.title.nil? %>
            <p class="card-title" ><%= event.title %></p>
            <p class="card-title" ><%= event.datetime %></p>
          <% else %>
            <p class="card-text"> <%= event.description %></p>
            <p class="card-title" ><%= event.datetime %></p>
          <% end %>
        </div>
        <div class="card-footer">
          <%= link_to "Show the event", event%>
        </div>
      </div>
    </div>
  <% end %>
</div>