<h1>Show Event</h1>

<div class="card text-center mt-5">
  <div class="card-header">
    Show Event
  </div>
  <div class="card-body">
    <h5 class="card-title">
    <% if !@event.title.nil? %>
      <%= @event.title %>
    <% else %>
      Event
    <% end%>
    </h5>
    <p class="card-text">
       <%= @event.description %>
    </p>
    <p class="card-text">
       <small>-by <%= @user.first_name %> </small>
    </p>
     <%= link_to "Go Back", events_path ,  class: "btn btn-info" %>
     <% if logged_in? %>
      <%= link_to "Assist this event", assist_path(@event) ,  class: "btn btn-warning",  method: :post %>
     <% end %>
  </div>
  <div class="card-footer text-muted">
    <%= @event.datetime %>
  </div>
</div>

<h3 class="mt-5 mb-5 text-center">Attendees</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  <% @attendees_id.each do |user| %>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.search_user(user.user_id).first_name %></td>
      <td><%= user.search_user(user.user_id).last_name %></td>
      <td><%= user.search_user(user.user_id).email %></td>
    </tr>
  <% end %>
  </tbody>
</table>